{% extends 'base.html.twig' %}

{% block title %}Blog-{% endblock %}

{% form_theme formPost 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <div class="col-md-6 p-5">
        {{ form_start(formPost) }}
      
        {{ form_row(formPost.title, { 'attr' : {'placeholder' : "Titre du post"} } ) }}
        {{ form_row(formPost.body) }}
        {{ form_row(formPost.image , { 'attr' : {'placeholder' : "http://..."} } ) }}
        <input type="hidden" name="id" value={{ app.user.id }}>
        <button type="submit" class="btn btn-primary">Créer mon post !</button> 
        {{ form_end(formPost) }}
    </div>

{% endblock %}
