{% extends 'base.html.twig' %}

{% block title %}Blog-Article{% endblock %}

{% block body %}

<div class="container">
    <div class="row d-flex justify-content-around align-items-start mt-3">
        <div class="col-md-8 mt-2 text-center">
            
            <p class="h4 font-weight-bolder">{{ posts.title }}</p>       
            
            <img  src="{{ posts.image }}" class="rounded mx-auto img-fluid"> 
             <div class="d-flex justify-content-between align-items-center mt-2 px-4">
               <p class="small text-left">Ecrit par : {{ posts.user.firstname }} {{ posts.user.lastname }}</p>               
               <p id="like"  class="like"><img src="{{ asset('images/'~like~'.svg') }}" title=""  width="25"><span id="nbLike"> {{ posts.nbLike }}</span></p>
             </div>              
             <hr>
            <p class="text-left h6 font-weight-bolder"><u>{{ posts.title }}</u></p>
            <p class="text-left">{{ posts.body|nl2br }}</p>
            
                   
       
        </div>
       
        <div class="col-md-4 align-self-start mt-5 text-center"> 

            <img class="img-fluid rounded opacity" src="https://images.unsplash.com/photo-1471107340929-a87cd0f5b5f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">

           
           

            <form action="{{ path('addreview')}}" method="POST" >            
                <div class="form-group mt-3">                    
                    <label for="reviews-form">Ajouter une note</label>
                    <input type="text" class="form-control" id="reviews-form" name="review" placeholder="Ajouter une critique...">
                    <input type="hidden" name="post-id" value="{{ posts.id }}">
                    <button type="submit" class="btn btn-primary mt-5">Envoyer</button>
                </div>
            </form>                
                <hr>
                {% if posts.review|length == 0 %}
                    <p>... Aucun commentaire ...</p>
                {% endif %}
                {% for review in posts.review %}
                <p> <span class="date mr-2">à {{review.createdAt|date('G:i')}}</span><span class="font-weight-bolder"> {{ review.user.firstname }} : </span><span class="font-italic">{{ review.body}}</span> </p> 
                {% endfor %}
                
        </div>
    </div>
</div>
{% endblock %}
